:root {
	--lincolnGreen: #2a4d14;
	--juneBud: #5fe0e0;
	--terracotta: #e87a5e;
	--juneBudLight: #d8f1f1;
	--lightGrey: rgb(223, 223, 223);
	--lightestGrey: rgb(247 246 246);
}
body,
html,
#mainContainer {
	height: 100vh;
	width: 100vw;

	/* margin: 0; */
}

.heading {
	font-family: "Comfortaa", cursive;
}

#nav-container {
	display: flex;
	justify-content: left;
	background-color: var(--juneBudLight);
}
#covidNav {
	display: none;
}
#navbar {
	justify-content: left;
	height: 10vh;
	background-color: var(--juneBudLight);
}

#title {
	padding: 1vh 1vh;
	padding-left: 30px;
	font-size: 2vw;
	text-align: center;
	color: black;
	font-weight: bold;
	cursor: pointer;
}

.logo,
.logoNav {
	height: 6vh;
	margin-bottom: 10px;
}
.logo {
	margin-right: 10px;
}
.flex-container {
	display: flex;
	flex-direction: row;
	height: 100vh;

	justify-content: center;
}
.container-main {
	display: flex;
	max-width: 1300px;
}

/* Main nav */
nav {
	display: flex;
}

#mainNav {
	list-style-type: none;
	background-color: var(--juneBud);
	height: 6vh;
	margin-bottom: 0px;
	padding: 0px;
	display: flex;
	justify-content: left;
}

/* Side nav */
#searchNews {
	background-color: rgb(223, 223, 223);
	border-radius: 15px;
}

#langBtnDiv {
	width: 100%;
	margin: 10px;
}
#inputDiv {
	display: flex;
}
#input {
	width: 70%;
	height: 30px;
	margin-left: 10px;
	margin-bottom: 20px;
	border: none;
	border-radius: 5px;
	text-align: center;
}
#language {
	height: 30px;
	width: 70%;
	margin-bottom: 10px;
	border: none;
}
#country {
	height: 30px;
	width: 70%;
	margin-bottom: 10px;
	border: none;
}

#btnMore {
	margin-left: 10px;
	height: 30px;
	border: none;
}
#searchBtn {
	min-width: fit-content;
	border: none;
	margin-bottom: 10px;
	background-color: var(--juneBudLight);
}

.sideNav {
	height: fit-content;
	width: 15%;
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 10px;
	border-radius: 15px;
}
.sideNavList {
	list-style-type: none;
	text-align: center;
	padding: 0px;
	font-size: 18px;
	margin: 10px;
}

#covidDiv {
	margin-top: 20px;
	background-color: rgb(223, 223, 223);
	border-radius: 15px;
	display: flex;
	justify-content: center;
}
.covidBtn {
	margin: 10px;
	font-size: 16px;
	font-weight: bold;
	border: none;
	outline: none;
	background-color: rgb(223, 223, 223);
	font-family: "Comfortaa", cursive;
}
.covidBtn :hover {
	color: white;
}
.covidTxt {
	margin: 0px;
}
/* Main */
.main {
	width: 60%;
	padding: 10px;
}
#headingDiv {
	text-align: center;
	font-size: 22px;
}
#searchResults {
	margin: 0px 10px 10px 10px;
	padding: 5px 10px 10px 10px;
	border-radius: 5px;
}
.articleDiv {
	background-color: rgb(248, 247, 245);
	padding: 1px 10px 1px 10px;
	margin: 10px;
	border-radius: 5px;
	box-shadow: var(--lightGrey) 2px 3px;
}
.articleHeading {
	font-size: 20px;
	color: black;
	display: block;
	font-weight: bold;
	margin-top: 10px;
}
.articleDate {
	font-style: italic;
	margin-bottom: 0px;
}
.articleText {
	color: black;
}

.excerptDiv {
	display: flex;
	justify-content: left;
	padding: 10px 10px 20px 10px;
}
.newsImage {
	max-width: 50%;
	display: inline-block;
	margin-left: 40px;
}
.imageDiv {
	display: flex;
	justify-content: center;
}
.searchImage {
	max-width: 80%;
	padding: 10px;
	max-height: 150px;
}
.excerpt {
	display: inline-block;
	max-width: 50%;
}
.excerptLang {
	display: inline-block;
}
/* Weather and local headlines*/
#rightDiv {
	padding: 10px;
	height: fit-content;
	margin-left: 10px;
	margin-right: 10px;
	width: 25%;
}
#weatherSchR {
	background-color: var(--lightGrey);
	padding: 10px;
	border-radius: 15px;
}

#weatherBtnDiv {
	display: inline;
}
#weatherBtn {
	border: none;
	height: 30px;
	background-color: var(--juneBudLight);
}
#weatherTitle {
	text-align: center;
}

#weatherResults {
	width: 100%;
	background-color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 5px;
	padding: 4px;
}
#iconDiv,
#tempDiv,
#conditionDiv {
	max-width: fit-content;
}

#trendingTitle {
	text-align: center;
	font-size: 22px;
}

#weatherSearch {
	width: 70%;
	height: 30px;
	margin-bottom: 10px;
	border: none;
	border-radius: 5px;
	text-align: center;
}

.tempClass {
	background-color: white;
	margin-top: 8px;
	min-width: 60px;
}
.conditionClass {
	margin-top: 8px;
	margin-left: 5px;
}
.iconClass {
	background-color: white;
	height: 40px;
}

/* Central weather div (for mobiles/tablets) */
/* Trending */
.trendingImage {
	width: 100%;
}
#trendingHeadlines {
	margin-top: 20px;
	background-color: var(--lightGrey);
	border-radius: 15px;
	padding: 10px;
}

/* MEDIA QUERIES FOR RESPONSIVENESS */
/* Desktops, large screens */
@media (max-width: 1200px) {
	#weatherSearch {
		width: 100%;
	}
	#weatherBtnDiv {
		display: flex;
		justify-content: center;
		align-items: center;
	}
	#weatherBtn {
		margin-bottom: 10px;
	}
	.sideNav {
		width: 20%;
	}
}

/* Small screens and laptops */
@media (max-width: 1024px) {
	.sideNav {
		width: 25%;
	}
}

/* Move weather search to header */
@media (min-width: 856px) {
	#centralWeatherDiv {
		display: none;
	}
	#trendingHeadlinesBtm {
		display: none;
	}
}
@media (max-width: 855px) {
	#mainNav {
		margin-bottom: 0;
		border-bottom: solid 2px var(--lincolnGreen);
	}

	#rightDiv {
		display: none;
	}

	#trendingTitleBtm {
		font-size: 22px;
		text-align: center;
	}

	.main {
		width: 70%;
	}

	#centralWeatherDiv {
		width: 100%;
		display: flex;
		border-bottom: var(--lightGrey) 1px solid;
		height: 40px;
	}
	#weatherSchC {
		display: flex;
		width: 50%;
	}
	#weatherSearchC {
		width: 100%;
		border: none;
		border-radius: 5px;
		text-align: center;
	}
	#weatherSearch {
		width: 100%;
		float: left;
	}

	#weatherBtnDivC {
		float: left;
	}
	#weatherBtnC {
		border: none;
		height: 40px;
		background-color: var(--juneBudLight);
		margin-right: 20px;
	}

	#weatherResultsC {
		display: flex;
		width: fit-content;
	}
	#tempDivC,
	#conditionDivC,
	#iconDivC {
		float: left;
	}
	.iconClass {
		border-bottom: var(--lightGrey) 1px solid !important;
	}
}

/* iPads, Tablets */
/* move covidDiv to navbar */

@media (max-width: 768px) {
	#covidDiv {
		display: none;
	}
	#nav-container {
		display: flex;
		justify-content: space-between;
	}
	#title {
		display: block;
		font-size: 20px;
	}
	#covidNav {
		display: flex;
		margin: none;
		max-height: 50px;
	}
	.covidBtn {
		background-color: var(--juneBudLight);
	}
	.covidTxt {
		font-size: 13px;
	}
	.sideNav {
		width: 100vw;
		margin: 0px;
		border-radius: 0px;
	}
	#searchNews {
		border-radius: 0px;
	}
	.main {
		width: 100vw;
	}
	.flex-container {
		display: inline-block;
		width: 100vw;
		margin-top: 0px;
		padding-top: 0px;
	}
	.container-main {
		display: inline-block;
	}
}

/* Mobile devices */
@media (max-width: 480px) {
	#title {
		font-size: 16px;
	}
	.main {
		width: 100vw;
	}
	#mainNav {
		margin-bottom: 0px;
		padding: 5px !important;
	}
	.covidBtn,
	#mainNav.li {
		font-size: 16px;
	}

	.newsImage {
		width: 100%;
	}

	.flex-container {
		display: inline-block;
		width: 100vw;
		margin-top: 0px;
		padding-top: 0px;
	}

	.sideNavList {
		display: none;
	}
	#rightDiv {
		width: 100vw;
		margin: 0px;
	}
	.iconClass {
		display: none;
	}
}
/* Very small mobiles */
@media (max-width: 400px) {
	.tempClass {
		min-width: 40px;
	}
	#weatherSchC {
		min-width: 60%;
	}
	#iconClass {
		display: none;
	}
}
