:root {
	--lincolnGreen: #2a4d14;
	--juneBud: #5fe0e0;
	--terracotta: #e87a5e;
	--juneBudLight: #d8f1f1;
	--lightGrey: rgb(223, 223, 223);
}
body,
html,
#mainContainer {
	height: 100vh;
	width: 100vw;

	/* margin: 0; */
}

#navbar {
	width: 100vw;
	background-color: var(--juneBudLight);
	border-bottom: var(--lincolnGreen) solid 5px;
}

#title {
	width: 100vw;
	padding: 2vh 2vh;
	font-size: 6vw;
	text-align: center;
	color: black;
}
.logo,
.logoNav {
	height: 6vh;
	margin-bottom: 10px;
}
.logo {
	margin-right: 10px;
}
.flex-container {
	display: flex;
	flex-direction: row;
	height: 100vh;
}
/* Main nav */
#mainNav {
	list-style-type: none;
	background-color: var(--juneBud);
	height: 6vh;
}
#mainNav li {
	padding-top: 5px;
	font-size: 18px;
	font-weight: bold;
}
#mainNav li:hover {
	cursor: pointer;
	color: white;
}
/* Side nav */

#langBtnDiv {
	width: 100%;
	margin: 10px;
}
#inputDiv {
	display: flex;
}
#input {
	width: 70%;
	height: 30px;
	margin-left: 10px;
	margin-bottom: 10px;
	border: none;
	border-radius: 5px;
}
#language {
	height: 30px;
	width: 70%;
	margin-bottom: 10px;
	border: none;
}
#country {
	height: 30px;
	width: 70%;
	margin-bottom: 10px;
	border: none;
}

#btnMore {
	margin-left: 10px;
	height: 30px;
}
#searchBtn {
	min-width: fit-content;
	border: none;
	margin-bottom: 10px;
}

.sideNav {
	background-color: rgb(223, 223, 223);
	height: fit-content;
	width: 15%;
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 10px;
	border-radius: 15px;
}
.sideNavList {
	list-style-type: none;
	text-align: center;
	padding: 0px;
	font-size: 18px;
	margin: 10px;
}

/* Main */
.main {
	width: 60%;
	padding: 10px;
}
#headingDiv {
	text-align: center;
	font-size: 22px;
}
.articleHeading {
	font-size: 20px;
	color: black;
	display: block;
	font-weight: bold;
	margin-top: 20px;
}
.articleDate {
	font-style: italic;
}
.articleText {
	color: black;
}

.newsImage {
	width: 60%;
	margin-bottom: 40px;
	display: flex;
}
/* Weather and local headlines*/
#rightDiv {
	padding: 10px;
	height: fit-content;
	margin-left: 10px;
	margin-right: 10px;
	width: 25%;
	/* background-color: var(--lightGrey); */
	/* border-radius: 15px; */
}
#weatherSchR {
	background-color: var(--lightGrey);
	padding: 10px;
	border-radius: 15px;
}

#weatherBtnDiv {
	display: inline;
}
#weatherBtn {
	border: none;
	height: 30px;
	background-color: var(--juneBudLight);
}
#weatherTitle {
	text-align: center;
}

#weatherResults {
	width: 100%;
	background-color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 5px;
}
#localTitle {
	text-align: center;
	font-size: 22px;
}

#weatherSearch {
	width: 70%;
	height: 30px;
	margin-bottom: 10px;
	border: none;
	border-radius: 5px;
	text-align: center;
}

.tempClass {
	background-color: white;
	margin-top: 8px;
}
.conditionClass {
	margin-top: 8px;
	margin-left: 5px;
}
.iconClass {
	background-color: white;
	height: 40px;
	width: 40px;
}

/* Central weather div (for mobiles/tablets) */

/* Trending */
.trendingImage {
	width: 100%;
}
#localHeadlines {
	margin-top: 20px;
	background-color: var(--lightGrey);
	border-radius: 15px;
	padding: 10px;
}

/* MEDIA QUERIES FOR RESPONSIVENESS */

/* Desktops, large screens */
@media (max-width: 1200px) {
	#weatherSearch {
		width: 100%;
	}
	#weatherBtnDiv {
		display: flex;
		justify-content: center;
		align-items: center;
	}
	#weatherBtn {
		margin-bottom: 10px;
	}
}

/* Small screens and laptops */
@media (max-width: 1024px) {
}

/* Move weather search to header */
@media (min-width: 856px) {
	#centralWeatherDiv {
		display: none;
	}
}
@media (max-width: 855px) {
	#mainNav {
		margin-bottom: 0;
	}

	#rightDiv {
		display: none;
	}
	.main {
		width: 70%;
	}

	#centralWeatherDiv {
		width: 100%;
		display: flex;
		border-bottom: var(--lightGrey) 1px solid;
		height: 40px;
	}
	#weatherSchC {
		display: flex;
		width: 50%;
	}
	#weatherSearchC {
		width: 100%;
		border: none;
		border-radius: 5px;
		text-align: center;
	}
	#weatherSearch {
		width: 100%;
		float: left;
	}

	#weatherBtnDivC {
		float: left;
	}
	#weatherBtnC {
		border: none;
		height: 40px;
		background-color: var(--juneBudLight);
	}

	#weatherResultsC {
		display: flex;
		width: 30%;
	}
	#tempDivC,
	#conditionDivC,
	#iconDivC {
		float: left;
	}
	.iconClass {
		border-bottom: var(--lightGrey) 1px solid !important;
	}
}

/* iPads, Tablets */
@media (max-width: 768px) {
	#title {
		font-size: 45px;
	}
}

/* Mobile devices */
@media (max-width: 480px) {
	#title {
		font-size: 21px;
	}
	.main {
		width: 100vw;
	}
	#mainNav {
		margin-bottom: 0px;
	}
	.newsImage {
		width: 100%;
	}
	.sideNav {
		width: 100vw;
		margin: 0px;
		border-radius: 0px;
	}
	.flex-container {
		display: inline-block;
		width: 100vw;
		margin-top: 0px;
		padding-top: 0px;
	}

	.sideNavList {
		display: none;
	}
	#rightDiv {
		width: 100vw;
		margin: 0px;
	}
}
/* Very small mobiles */
@media (max-width: 400px) {
	.tempClass {
		min-width: 40px;
	}
	#weatherSchC {
		min-width: 60%;
	}
}
