/* Deep indigo: #4C168D */

body {
	height: 100%;
	width: 100%;
	margin: 0;
}
#navbar {
	width: 100vw;
	margin-bottom: 1vh;
	background-color: indigo;
}
#title {
	width: 100vw;
	padding: 2vh 2vh;
	font-size: 5vw;
	text-align: center;
	border-bottom: 1px grey solid;
	background: -webkit-linear-gradient(#b4a9c2, #c7529a);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
#logo {
	height: 6vh;
	margin-bottom: 10px;
}
.flex-container {
	display: flex;
	flex-direction: row;
	height: 100vh;
}

/* Side nav */
.sideNav {
	background-color: rgb(223, 223, 223);
	height: fit-content;
	width: 15vw;
	margin-left: 10px;
	margin-right: 10px;
}
.sideNavList {
	list-style-type: none;
	text-align: center;
	padding: 0px;
	font-size: 18px;
	margin: 10px;
}

/* Main */
.main {
	width: 60vw;
	border-left: rgb(192, 190, 190) solid 1px;
	border-right: rgb(192, 190, 190) solid 1px;
	padding: 10px;
}

#weatherDiv {
	padding: 10px;
	height: fit-content;
	margin-left: 10px;
	margin-right: 10px;
	width: 25vw;
	border: rgb(192, 190, 190) 1px solid;
}

#weatherSearchDiv {
	width: 100%;
	display: flex;
}

/* Weather */
.tempClass {
	background-color: white;
	margin-top: 8px;
}
.conditionClass {
	margin-top: 8px;
	margin-left: 5px;
}
.iconClass {
	background-color: white;
	height: 45px;
	width: 45px;
}

@media (max-width: 400px) {
	#title {
		font-size: 21px;
	}
}

@media (min-width: 900px) {
	#title {
		font-size: 45px;
	}
}
